<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ClazzDAO">
  	
  	
  	<resultMap type="clazz" id="clazzResultMap">
  		<id column="id" property="id"/>
  		<result column="name" property="name"/>
  		<result column="path" property="path"/>
  		<association property="tag" javaType="com.baizhi.entity.Tag">
  			<id column="tid" property="id"/>
  			<result column="tname" property="name"/>
  		</association>
  		<collection property="groups" javaType="list" ofType="com.baizhi.entity.Group">
  			<id column="gid" property="id"/>
  			<result column="gname" property="name"/>
  		</collection>
  	</resultMap>
  	
  	
  	
  	
  	<insert id="save" parameterType="clazz" useGeneratedKeys="true" keyProperty="id">
  		insert into t_clazz values(#{id},#{name},#{path},#{tag.id})
  	</insert>
  	
  	
  	<select id="queryAll" resultMap="clazzResultMap">
  		select c.id,c.name,c.path,t.id as tid,t.name as tname
  			from t_clazz c 
  			left join t_tag t
  			on c.tagId = t.id 
  	</select>
  	
  	
  	<select id="queryAllClazzAndGroups" resultMap="clazzResultMap">
  		select c.id,c.name,c.path,g.id as gid,g.name as gname
  			from t_clazz c 
  			left join t_group g
  			on c.id = g.clazzId
  	</select>
  	
  	
</mapper>
